body{
    margin: 0px;
}

.navegacao{
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    list-style-type: none;
    display: flex;   
}

.navegacao ul li{
    padding-right: 50px;
}

.navegacao ul li:hover{
    color: #ffd800;
    cursor: pointer;
}

.banner{
    background-image: url(barbearia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.container{
    background-color: #000000;
    color: #ffffff;
    height: 10vh;
}

.container .containertexto h1{
    margin-top: 0px;
    font-size: 35px;
    padding-top: 15px;
    padding-left: 60px;
}

.unidades{
    background-color: #ffd800;
    height: 100vh;
    display: flex;
}

.unidadetexto ol{
 list-style-type: none;
 font-size: 40px; 
}

button{
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
}

button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.unidadetexto{
    margin-left: 50px;
    margin-top: 0px;
}

.unidadetexto p{
    font-size: 60px;
    padding-top: 50px;
}

.unidades img{
    width: 40%;
    height: 90%;
    margin-top: 35px;
}

.fundo{
    background-color: white;
    height: 40vh;
    display: flex;
}

.textos{
    color: black;
    text-align: center;
    font-weight: bold;
}

.lorem{
    text-align: justify;
    margin-left: 400px;
    margin-right: 400px;
}

.atendimento{
    background-color: #C0C0C0;
    height: 10vh;
    display: flex;
    padding: 0px;
    display: flex;
}

.textoatendimento{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 460px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;   
}

.horario{
    color: black;
    font-size: 17px;
    margin-left: 30px;  
    display: flex;
}

.formulario{
    background-color: white;
    height: 40vh;
}

.rodape{
    background-color: #ffd800;
    height: 15vh;
}

.logos{
    display: flex;
    height: 4vh;
    justify-content: center;
    padding-top: 40px;
}

.localizacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}

.formulariobox{
    width: 400px;
    margin-left: 100px;

}

.formulariobox .form{
    border: none;
    outline: none;
    border-bottom: solid 1px black;

}

.localizacao .map iframe{
    width: 100%;
    height: 50%;
}

footer p{
    text-align: center;
}

